<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>Jekin_Code</title>

</head>

<body>

  {{>navbar}}

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <div class="row">
          <div
            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>WE WILL HELP YOU TO</h1>
            <h1>GROW YOUR BUSSINESS</h1>
            <p>Hey there are many things that you have to <span class="bold-style">explore 🫵🏻</span></p>
            <button class="btn-style btn-primary"> Read more</button>
          </div>
          <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="images/growth.svg" alt="i dont know">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-5 about-style " id="aboutid">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Something You Want to Know 🙄</p>
        <div class="row">
          <div
            class="col-md-6 col-12 hero-text order-md-1 order-0 d-flex justify-content-center align-items-start flex-column">
            <h1>WE ARE PROFESSIONAL DEVELOPER</h1>
            <h1>LETS DO SOMETHING</h1>
            <p>Hey there are many things that you have to <span class="bold-style">explore 🫵🏻</span></p>
            <button class="btn-style btn-primary"> Read more</button>
          </div>
          <div class="col-md-6 col-12 hero-text order-md-0 order-1">
            <figure>
              <img src="images/about.svg" alt="i dont know">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- about end -->
  <div class="container-fluid mt-5 service-style " id="serviceid">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <h1 class="text-center main-heading">Services</h1>
        <p class="text-center sub-heading">Any query regaring </p>
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="our-services settings">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="so sorry">
                </div>
                <h4>settings</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services backups">
                <div class="icon">
                  <img src="https://i.imgur.com/vdH9LKi.png" alt="so sorry">
                </div>
                <h4>backups</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services ssl">
                <div class="icon">
                  <img src="https://i.imgur.com/v6OnUqu.png" alt="so sorry">
                </div>
                <h4>SSL secured</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services database">
                <div class="icon">
                  <img src="https://i.imgur.com/VzjZw9M.png" alt="so sorry">
                </div>
                <h4>Database</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services privacy">
                <div class="icon">
                  <img src="https://i.imgur.com/AgyneKA.png" alt="so sorry">
                </div>
                <h4>privacy</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services speedup">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="so sorry">
                </div>
                <h4>Speedup</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <section col-md-11 col-12 mx-auto>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3492.276967516492!2d77.12533607525843!3d28.91982647097678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390dae878d2dcaf1%3A0xdd00179e64a0846f!2sSRM%20University%20(Sonepat%2C%20Haryana)!5e0!3m2!1sen!2sin!4v1690528863051!5m2!1sen!2sin"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>


  <!-- contact -->
  <div class="container-fluid mt-5 contact-style " id="contactid">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <h1 class="text-center main-heading">Contact Us</h1>
        <p class="text-center sub-heading">Here you can contact</p>
        <div class="row">
          <div class="col-md-6 col-12 mx-auto">
            <form action="/contact" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full name" name="name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email"
                  name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Number</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Phone Number"
                  name="phone">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Message</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Message" name="message">
              </div>

              <button type="submit" class="btn-style btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="./jq/jquery.js" type="text/javascript"></script>
  <script src="./js/bootstrap.js" type="text/javascript"></script>
</body>

</html>




<div class="d-flex flex-column mb-2">
  <span class="new-price">&#8377 {{product.price-product.price*product.discountPercentage/100}}</span>
  <small class="old-price text-right">&#8377 {{product.price}}</small>
</div>